In [5]:
import pandas as pd
import warnings
import csv
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder
warnings.filterwarnings("ignore")

C:\Anaconda\lib\site-packages\ipykernel\ipkernel.py:287: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

# 1. Data Preprocesing

In [24]:
data = [['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yougurt'],
      ['Dill','Onion','Nutmeg','Kidney Beans','Eggs','Yougurt'],
      ['Milk','Apple','Kidney Beans','Eggs'],
      ['Milk','Unicorn','Corn','Kidney Beans','Yougurt'],
      ['Corn','Onion','Kidney Beans','Ice Cream','Eggs']]

data

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yougurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yougurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yougurt'],
 ['Corn', 'Onion', 'Kidney Beans', 'Ice Cream', 'Eggs']]

In [18]:
# Data perlu diubah ke dalam bentuk dataframe
# kolom menunjukkan list unique item, sedangkan baris menunjukkan ada/tidaknya item tersebut

trf = TransactionEncoder()
data_trf = trf.fit(data).transform(data)

df = pd.DataFrame(data_trf,columns=trf.columns_)
df

,Apple,Corn,Dill,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yougurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

# 2. Modeling

## 2.1 Menghitung nilai support

In [23]:
# Nilai Support Kidney Beans = 1 artinya item tersebut selalu muncul di setiap transaksi
# Egg hampir selalu muncul di setiap transaksi
frequent_itemsets = apriori(df, min_support=0.047, use_colnames=True)
frequent_itemsets.sort_values('support',ascending=False,inplace=True)
frequent_itemsets

     support                                           itemsets
5        1.0                                     (Kidney Beans)
3        0.8                                             (Eggs)
27       0.8                               (Kidney Beans, Eggs)
30       0.6                                      (Onion, Eggs)
8        0.6                                            (Onion)
..       ...                                                ...
56       0.2                        (Corn, Onion, Kidney Beans)
55       0.2                         (Corn, Milk, Kidney Beans)
54       0.2                           (Corn, Ice Cream, Onion)
53       0.2                    (Corn, Ice Cream, Kidney Beans)
148      0.2  (Onion, Kidney Beans, Yougurt, Eggs, Milk, Nut...

[149 rows x 2 columns]

## 2.2 Pembentukan aturan
- Jika rules yang terbentu adalah A -> B, maka A disebut antecedents, sedangkan B disebut consequents
- Tidak hanya itemlist, setiap rules juga akan memiliki nilai support dan confidence
- lift dapat menunjukkan kekuatan aturan yang dibuat. semakin besar nilai lift, semakin bagus aturan tersebut
- leverage hampir sama dengan lift, namun yang dihitung adalah perbedaannya.
- nilai conviction yang tinggi berarti consequents sangat tergantung pada antecedents.

In [29]:
# Interpretasi Rules
# 1.Orang yang membeli (Kidney Beans) akan membeli (Eggs)
# 2.Orang yang membeli (Eggs) akan membeli (Kidney Beans)
rules1 = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules1.sort_values('lift',ascending=False,inplace=True)
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
295,(Ice Cream),"(Corn, Onion, Eggs)",0.2,0.2,0.2,1.0,5.0,0.16,inf
701,"(Kidney Beans, Yougurt, Unicorn)","(Corn, Milk)",0.2,0.2,0.2,1.0,5.0,0.16,inf
286,"(Corn, Onion, Eggs)",(Ice Cream),0.2,0.2,0.2,1.0,5.0,0.16,inf
704,"(Kidney Beans, Unicorn, Milk)","(Corn, Yougurt)",0.2,0.2,0.2,1.0,5.0,0.16,inf
703,"(Kidney Beans, Yougurt, Corn)","(Unicorn, Milk)",0.2,0.2,0.2,1.0,5.0,0.16,inf
...,...,...,...,...,...,...,...,...,...
402,(Kidney Beans),"(Yougurt, Eggs, Milk, Nutmeg)",1.0,0.2,0.2,0.2,1.0,0.00,1.0
383,"(Yougurt, Eggs, Milk, Nutmeg)",(Kidney Beans),0.2,1.0,0.2,1.0,1.0,0.00,inf
377,(Kidney Beans),"(Onion, Eggs, Milk, Nutmeg)",1.0,0.2,0.2,0.2,1.0,0.00,1.0
909,"(Yougurt, Nutmeg, Dill)",(Kidney Beans),0.2,1.0,0.2,1.0,1.0,0.00,inf
0,(Kidney Beans),(Eggs),1.0,0.8,0.8,0.8,1.0,0.00,1.0