In [4]:
import pandas as pd
import warnings
import csv
from mlxtend.frequent_patterns import fpgrowth, association_rules
from mlxtend.preprocessing import TransactionEncoder
warnings.filterwarnings("ignore")

# 1. Data Preprocesing

In [5]:
data = [['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yougurt'],
      ['Dill','Onion','Nutmeg','Kidney Beans','Eggs','Yougurt'],
      ['Milk','Apple','Kidney Beans','Eggs'],
      ['Milk','Unicorn','Corn','Kidney Beans','Yougurt'],
      ['Corn','Onion','Kidney Beans','Ice Cream','Eggs']]

data

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yougurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yougurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yougurt'],
 ['Corn', 'Onion', 'Kidney Beans', 'Ice Cream', 'Eggs']]

In [6]:
# Data perlu diubah ke dalam bentuk dataframe
# kolom menunjukkan list unique item, sedangkan baris menunjukkan ada/tidaknya item tersebut

trf = TransactionEncoder()
data_trf = trf.fit(data).transform(data)

df = pd.DataFrame(data_trf,columns=trf.columns_)
df

,Apple,Corn,Dill,Eggs,Ice Cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yougurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

# 2. Modeling

## 2.1 Menghitung nilai support

In [12]:
frequent_itemsets = fpgrowth(df,min_support=0.05, use_colnames=True)
frequent_itemsets.sort_values('support',ascending=False,inplace=True)
frequent_itemsets

     support                                           itemsets
0        1.0                                     (Kidney Beans)
11       0.8                               (Kidney Beans, Eggs)
1        0.8                                             (Eggs)
18       0.6                        (Kidney Beans, Onion, Eggs)
15       0.6                                      (Onion, Eggs)
..       ...                                                ...
69       0.2                                      (Onion, Dill)
68       0.2                                     (Nutmeg, Dill)
67       0.2  (Nutmeg, Milk, Kidney Beans, Yougurt, Eggs, On...
66       0.2        (Nutmeg, Milk, Kidney Beans, Yougurt, Eggs)
148      0.2       (Corn, Kidney Beans, Ice Cream, Eggs, Onion)

[149 rows x 2 columns]

## 2.2 Pembentukan aturan

In [13]:
rules1 = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
rules1.sort_values('lift',ascending=False,inplace=True)
rules1

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
516,"(Unicorn, Milk)","(Kidney Beans, Corn, Yougurt)",0.2,0.2,0.2,1.0,5.0,0.16,inf
505,"(Kidney Beans, Corn, Yougurt)","(Unicorn, Milk)",0.2,0.2,0.2,1.0,5.0,0.16,inf
573,"(Kidney Beans, Corn, Milk)",(Unicorn),0.2,0.2,0.2,1.0,5.0,0.16,inf
524,(Unicorn),"(Kidney Beans, Corn, Milk, Yougurt)",0.2,0.2,0.2,1.0,5.0,0.16,inf
1222,"(Kidney Beans, Corn, Eggs)","(Onion, Ice Cream)",0.2,0.2,0.2,1.0,5.0,0.16,inf
...,...,...,...,...,...,...,...,...,...
719,"(Eggs, Dill, Yougurt)",(Kidney Beans),0.2,1.0,0.2,1.0,1.0,0.00,inf
726,(Kidney Beans),"(Eggs, Dill, Yougurt)",1.0,0.2,0.2,0.2,1.0,0.00,1.0
731,"(Onion, Milk, Yougurt)",(Kidney Beans),0.2,1.0,0.2,1.0,1.0,0.00,inf
734,(Kidney Beans),"(Onion, Milk, Yougurt)",1.0,0.2,0.2,0.2,1.0,0.00,1.0
623,"(Onion, Ice Cream, Corn)",(Kidney Beans),0.2,1.0,0.2,1.0,1.0,0.00,inf