In [1]:
import pandas as pd

In [2]:
df_sayuran = pd.read_excel('Import Sayuran.xls')
df_minyak = pd.read_excel('Import Minyak Bumi.xls')
df_pupuk = pd.read_excel('Impor Pupuk.xls')

# Questions
1. Negara yang mengimpor sayuran terbanyak dan terendah di tahun 2017 ?
2. Negara yang mengimpor minyak terbanyak dan terendah di tahun 2020 ?
3. Berapa total impor sayuran, minyak, pupuk negara australia di sepanjang tahun 2017-2020 ?

In [3]:
df_pupuk

   Negara Asal    2017    2018    2019    2020    2021
0    Tiongkok1  2408.3  2339.2  1914.5  1654.1  1784.5
1       Kanada  1266.1  1269.4   963.3  1203.8  1804.2
2        Mesir   729.1   794.9   681.3   753.7  1136.2
3        Rusia   962.3  1044.1   818.7   743.3   974.6
4    Belarusia   660.9   738.8   640.2   568.9   905.5
5    Australia   332.9   286.7   185.5   188.3   286.7
6     Yordania   257.9   281.3   181.9   155.9   243.7
7       Jerman   249.3   156.0   111.8   162.7   151.8
8      Vietnam    75.7   112.3    66.5   116.1   183.6
9     Malaysia   328.6   344.0    99.2   103.7    88.6
10        Laos    44.6    83.3    91.9   148.6    96.4
11    Norwegia    22.6    20.8    46.0    51.3    73.5
12      Taiwan    27.1    87.9    53.6    26.8    43.1
13    Lainnya    562.1   524.4   280.1   371.5   351.3
14      Kanada   302.3   362.0   300.9   307.7   545.7
15       Rusia   249.7   298.1   257.9   210.7   326.1
16   Belarusia   158.0   204.5   192.2   142.0   268.8
17     Vietnam    24.2    41.0    21.8    36.2    92.3
18       Mesir    40.0    50.5    46.9    43.5    91.0
19    Yordania    59.8    64.1    49.7    39.9    87.9
20      Jerman    66.0    47.4    36.9    44.8    44.4
21    Norwegia    10.0     9.2    20.5    18.7    35.3
22   Australia    37.7    34.1    22.3    18.9    34.5
23    Malaysia    99.2   111.9    37.2    35.0    33.9
24        Laos    10.5    22.8    27.1    38.0    33.8
25      Taiwan     3.5    12.9     8.5     4.1     8.9

In [4]:
df_sayuran

,Negara Asal,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Myanmar,35458.2,45525.6,47447.5,51324.1,60983.0,31317.8,35400.0,44362.2,47004.2,49265.9,72822.2,90962.5
1,India,37516.7,65237.1,53942.7,63794.1,68495.0,16843.9,48211.4,109874.8,69353.1,67598.6,75738.9,55643.5
2,Selandia Baru,14735.5,16306.9,17683.1,12864.0,24266.4,21465.1,33858.6,38106.6,28653.1,27340.6,39278.6,50133.3
3,Australia,20866.8,29740.5,28232.0,36377.9,32457.2,17895.7,34063.5,21558.6,27874.6,18781.5,19589.0,26551.1
4,Amerika Serikat,17962.2,21799.1,17091.5,16793.4,12897.2,15091.9,7878.2,8402.6,6672.3,6192.9,6670.0,24559.2
5,Belanda,5350.1,11346.2,10398.1,95.3,13132.9,16718.4,23156.2,21749.3,26999.1,9431.5,9639.7,17207.4
6,Ethiopia,2245.2,6225.9,9506.5,14298.5,23242.0,10977.9,23453.9,24546.0,37228.2,25584.0,22170.9,12933.9
7,Jerman,60.9,5282.7,2340.0,7248.4,6617.6,13570.2,20276.8,25039.0,14032.0,13207.8,16944.7,12507.9
8,Kanada,14186.4,20217.6,24478.3,37435.9,22595.0,17281.9,18210.0,16880.7,17006.4,12035.9,12229.6,9479.8
9,Lainnya,80621.3,191754.4,116465.7,63872.4,62704.5,29311.0,31655.6,33441.4,26107.0,20572.4,13214.2,23944.2
10,Tiongkok1,290776.1,343172.6,304854.1,423952.7,424739.6,426139.9,511292.9,606251.7,526878.7,588366.4,635261.9,721960.3
11,Myanmar,28483.6,44185.4,37892.5,47870.1,60420.6,30624.6,34954.1,43352.4,43190.2,45021.7,71792.6,101112.4
12,India,15872.3,27621.3,21605.0,38578.4,25117.7,5585.5,15398.6,39947.6,22770.7,23184.0,24739.8,26634.6
13,Selandia Baru,5983.3,7405.2,7043.8,6865.1,14716.7,11048.1,21600.1,23701.8,19309.7,21069.1,29451.5,30525.4
14,Australia,14151.1,21158.7,21667.0,29877.9,24689.6,15040.3,30702.7,18483.0,22428.2,17837.5,16088.1,21283.5
15,Amerika Serikat,19985.7,24243.4,22642.7,20060.5,16981.1,19190.9,17417.8,17326.1,17380.7,18302.1,15649.7,15880.0
16,Belanda,2477.2,4671.9,4567.0,116.1,6241.4,8141.0,11357.9,10770.3,16638.8,5562.4,6579.4,11011.7
17,Ethiopia,1430.5,4331.7,4646.6,9100.1,18487.2,8124.0,20717.0,24044.5,34387.0,25025.2,22123.5,20627.5
18,Jerman,137.9,2882.6,1485.5,3947.0,2838.1,5385.7,7497.4,9995.2,5986.8,5122.5,6637.8,5152.1
19,Kanada,7720.7,11447.9,13313.5,20186.1,10607.4,8751.4,7828.7,6898.3,6666.4,3773.1,4554.3,4264.9
20,Lainnya,44885.8,107962.9,63872.5,40203.6,39183.6,20049.8,17112.1,19902.8,22644.4,16871.4,13533.5,18787.4

In [5]:
df_minyak

        Negara Asal     2017     2018     2019     2020     2021
0         Singapura  15840.8  17850.8  13741.8  10466.5  10332.4
1          Malaysia   7333.8   4091.3   3543.5   6311.5   5772.9
2        Arab Saudi   5487.1   6308.4   5810.5   6009.9   5761.3
3   Amerika Serikat    827.8   1875.7   2566.3   2817.3   4062.5
4           Nigeria   3407.5   4646.1   3952.6   2313.1   3961.4
5   Uni Emirat Arab   3283.7   2003.1   2678.2   2990.8   2114.4
6        Australia    2216.3   1159.3   1684.9   1280.2   1597.7
7     Korea Selatan   1653.1   2097.3   1932.1    853.3    708.5
8         Tiongkok1    526.8    436.2    578.9    631.4    810.0
9             Qatar   1412.9   2059.4   1600.9   1326.6    738.9
10          Lainnya   8380.3   6688.5   2836.7   2653.5   6266.3
11        Singapura   8603.8  11857.8   8120.4   4221.4   6688.8
12         Malaysia   3572.3   2435.9   1938.2   2110.6   3771.9
13       Arab Saudi   2358.7   3651.3   2834.1   2097.3   3157.8
14  Amerika Serikat    422.7   1068.2   1159.8   1091.3   2572.0
15          Nigeria   1253.0   2450.9   1852.1    780.6   1967.1
16  Uni Emirat Arab   1577.7   1137.4   1341.1   1133.3   1377.0
17       Australia     965.0    664.8    841.6    498.7    953.0
18    Korea Selatan    902.5   1373.2   1146.8    386.5    506.3
19        Tiongkok1    255.0    286.7    329.7    281.4    493.0
20            Qatar    704.1   1288.3    818.9    572.4    486.5
21          Lainnya   3701.4   3654.3   1502.6   1083.3   3555.7